body {
    font-family: Arial, sans-serif;
    background-color: #000; /* 전체 배경색을 어두운 색으로 설정 */
    color: #fff; /* 텍스트 색상 */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
}

header h1 {
    margin: 0;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.header-image {
    position: relative;
    text-align: center;
    color: white;
}

.header-image img {
    width: 100%;
    height: auto;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
}

.header-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.header-text p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.navbar-brand img {
    height: 50px;
}

.countdown {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    background: linear-gradient(to right, #4facfe, #9b59b6); /* 배경 그라디언트 */
    border-radius: 5px;
}

.countdown p {
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

.countdown h1 {
    margin: 0;
    font-size: 2rem;
    color: #fff;
}

.main-content {
    padding: 20px;
}

.section-title {
    color: #ff00ff;
    text-align: center;
    margin-top: 40px;
}

.intro, .agenda, .speakers, .location {
    background-color: rgba(0, 0, 0, 0.8); /* 블록 배경 투명도 조정 */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.intro p, .agenda p, .speakers p, .location p {
    color: #fff;
}

.footer {
    background-color: #000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.btn-primary {
    background-color: #800080;
    border-color: #800080;
}

.btn-primary:hover {
    background-color: #b300b3;
    border-color: #b300b3;
}

.speaker img {
    border-radius: 50%;
    max-width: 100px;
    height: auto;
}

.speaker p {
    color: #fff;
    text-align: center;
}

.sponsor img {
    max-width: 100%;
    height: auto;
}

.venue p {
    color: #fff;
    text-align: center;
}

.venue iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    width: 50%; /* 버튼을 컨테이너의 50%씩 차지하도록 설정 */
    border-radius: 5px 5px 0 0; /* 버튼 상단 둥글게 */
}

.tab-button.active {
    background-color: #b300b3;
}

.agenda-content {
    display: none;
    width: 100%; /* 아젠다 카드를 100%로 설정 */
}

.agenda-content.active {
    display: block;
}

.agenda-card {
    background: linear-gradient(to right, #ff4e50, #f9d423);
    color: #fff;
    padding: 20px;
    border-radius: 0 0 15px 15px; /* 카드 하단 둥글게 */
    margin: 10px 0; /* 상하 여백 추가 */
    width: 100%; /* 카드의 너비를 100%로 설정 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.agenda-card h3 {
    background-color: #ff00ff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.agenda-card p {
    margin: 10px 0;
}

.location img {
    max-width: 100%;
    border-radius: 10px;
}


