<section class="agenda my-5" id="agenda">
    <h2 class="section-title">Agenda</h2>
    <div class="tabs">
        <button class="tab-button" data-target="#day1">Day 1</button>
        <button class="tab-button" data-target="#day2">Day 2</button>
    </div>
    <div id="day1" class="agenda-content active">
        <div class="agenda-card">
            <p>09:00 - 09:30: 참석자 등록</p>
            <p>09:30 - 09:40: 킥오프 및 오프닝</p>
            <p>09:40 - 10:20: Amazon Culture of Innovation</p>
            <p>10:20 - 11:00: The Innovator's Mindset</p>
            <p>11:00 - 11:15: Coffee Break</p>
            <p>11:15 - 12:00: Innovation Unleashed</p>
            <p>12:00 - 13:15: Lunch</p>
            <p>13:15 - 18:00: WB Activity</p>
        </div>
    </div>
    <div id="day2" class="agenda-content">
        <div class="agenda-card">
            <p>09:30 - 10:00: Day 1 Wrap up</p>
            <p>10:00 - 10:50: 솔루션 아이디어</p>
            <p>11:00 - 12:00: 솔루션 아이디어 및 기획</p>
            <p>12:00 - 13:15: Lunch</p>
            <p>13:15 - 14:15: 솔루션 기획</p>
            <p>14:25 - 15:30: 솔루션 발표</p>
            <p>15:30 - 15:50: Coffee Break</p>
            <p>15:50 - 17:00: PR/FAQ 작성</p>
            <p>17:00 - 18:00: 워크샵 최고 및 마무리</p>
        </div>
    </div>
</section>
