<section class="information-section">
    <h2 class="section-title">Information</h2>
    <ul>
        <li>INNOVATE X ACTION은 아마존의 혁신 문화를 공유하며, 귀사의 고객이 만족할 수 있는 새로운 디지털 솔루션 정형하는 행사입니다.</li>
        <li>참가자는 4~6명이며, 혁신과제를 소유할 수 있는 경영진과, 만들고자 하는 프로젝트 또는 서비스 오너의 참여가 필요합니다.</li>
        <li>참석자의 비즈니스캐피 비용은 3:1을 추천합니다.</li>
        <li>고객 경영진은 전 일정 참석하셔도 되지만, 오전부터 점심시간까지 참석하실 것을 권장합니다.</li>
    </ul>
</section>