<section class="location my-5" id="location">
    <h2 class="section-title">Location</h2>
    <div class="location-content">
        <div class="location-map" id="map" style="width: 100%; height: 450px;"></div>
        <div class="location-info">
            <img src="/images/location_image.png" alt="JW 메리어트 호텔">
            <div class="location-details">
                <h3>JW 메리어트 호텔</h3>
                <p>서울 서초구 신반포로 176<br>JW 메리어트 호텔 서울 3층 살롱 4,5</p>
                <p><i class="fas fa-phone-alt"></i> 02-6282-6262</p>
                <p><i class="fas fa-subway"></i> 고속터미널역 3번출구에서 98m</p>
                <p>*이미지 클릭 시 행사장 위치를 보실 수 있습니다.</p>
            </div>
        </div>
    </div>
</section>
