<section class="speakers my-5" id="speakers">
    <h2 class="section-title">Our Speakers</h2>
    <div class="speakers-container">
        <div class="speakers-wrapper">
            <div class="speaker-card">
                <img src="/images/speaker1.png" alt="Speaker 1">
                <h3>이명한</h3>
                <p>이사</p>
                <p>Cisco</p>
            </div>
            <div class="speaker-card">
                <img src="/images/speaker2.png" alt="Speaker 2">
                <h3>홍순권</h3>
                <p>영업대표</p>
                <p>Cloudflare</p>
            </div>
            <div class="speaker-card">
                <img src="/images/speaker3.png" alt="Speaker 3">
                <h3>손광락</h3>
                <p>Solution Engineer 전무</p>
                <p>Couchbase</p>
            </div>
            <div class="speaker-card">
                <img src="/images/speaker4.png" alt="Speaker 4">
                <h3>김정한</h3>
                <p>Solution Architect</p>
                <p>GitLab</p>
            </div>
            <div class="speaker-card">
                <img src="/images/speaker5.png" alt="Speaker 5">
                <h3>이규석</h3>
                <p>Senior Solutions Engineer</p>
                <p>HashiCorp</p>
            </div>
        </div>
    </div>
</section>
