<section class="sponsors my-5" id="sponsors">
    <h2 class="section-title">Our Sponsors</h2>
    <div class="sponsors-container">
        <a href="https://www.aws.com" class="sponsor-card" target="_blank">
            <img src="/images/logo_1.png" alt="Sponsor 1">
        </a>
        <a href="https://www.intel.com" class="sponsor-card" target="_blank">
            <img src="/images/logo_2.png" alt="Sponsor 2">
        </a>
        <a href="https://www.asana.com" class="sponsor-card" target="_blank">
            <img src="/images/logo_3.png" alt="Sponsor 3">
        </a>
        <a href="https://www.cisco.com" class="sponsor-card" target="_blank">
            <img src="/images/logo_4.png" alt="Sponsor 4">
        </a>
        <a href="https://www.cloudflare.com" class="sponsor-card" target="_blank">
            <img src="/images/logo_5.png" alt="Sponsor 5">
        </a>
        <a href="https://www.couchbase.com" class="sponsor-card" target="_blank">
            <img src="/images/logo_6.png" alt="Sponsor 6">
        </a>
        <a href="https://www.datadoghq.com" class="sponsor-card" target="_blank">
            <img src="/images/logo_7.png" alt="Sponsor 7">
        </a>
        <a href="https://www.gitlab.com" class="sponsor-card" target="_blank">
            <img src="/images/logo_8.png" alt="Sponsor 8">
        </a>
        <a href="https://www.hashicorp.com" class="sponsor-card" target="_blank">
            <img src="/images/logo_9.png" alt="Sponsor 9">
        </a>
        <a href="https://www.infoblox.com" class="sponsor-card" target="_blank">
            <img src="/images/logo_10.png" alt="Sponsor 10">
        </a>
    </div>
</section>
