<div class="header-image">
    <img src="/images/AWS_IXA_2.png" alt="AWS INNOVATE X ACTION">
    <div class="header-text">
        <h1>INNOVATE X ACTION</h1>
        <p><i class="fas fa-calendar-alt"></i> Day 1, 2024.07.02 09:00 - 18:00</p>
        <p><i class="fas fa-calendar-alt"></i> Day 2, 2024.07.03 09:30 - 18:00</p>
        <p><i class="fas fa-map-marker-alt"></i> 서울 서초구 신반포로 176<br>JW 메리어트 호텔 서울 3층 살롱 4,5</p>
    </div>
</div>
